{% extends 'base.html' %}
{% block body %}

<nav class="navbar navbar-light bg-light p-3">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="font-size: 2rem;">A教室掲示板</a>
    </div>
</nav>

{%if current_user.name == null %}
<a class="btn btn-info btn-lg m-3" href="/account_create/" role="button">NEW ACCOUNT</a>
<a class="btn btn-info btn-lg m-3" href="/login/" role="button">LOG IN</a>
<a class="btn btn-info btn-lg m-3" href="/access_limit/" role="button">アクセス確認</a>

{%else %}
<a class="btn btn-info btn-lg m-3" href="/login_top/" role="button">掲示板一覧</a>
<a class="btn btn-info btn-lg m-3" href="/logout/" role="button">LOG OUT</a>
{%endif %}

{% endblock %}