{% extends 'base.html' %}
{% block body %}
<p>{{ current_user.name }} さんようこそ！</p>
<a class="btn btn-info btn-lg m-5" href="/login_top/create" role="button">CREATE NEW TASK</a>
<a class="btn btn-info btn-lg m-5" href="/logout/" role="button">LOG OUT</a>
{% for post in posts %}

<div class="card w-50 mb-3" style="margin: auto;">
    <div class="card-body">

    　<h2 class="card-title">掲示板タイトル：{{ post.title }}</h2>

    　<a class="btn btn-success btn-sm" href="/login_top/update/{{ post.id }}" role="button">Update</a>
    　<a class="btn btn-danger btn-sm" href="/login_top/delete/{{ post.id }}" role="button">Delete</a>
    </div>
  </div>


{% endfor %}
{% endblock %}
