{% extends 'base.html' %}
{% block body %}
<p>{{ current_user.name }} さんようこそ！</p>

<a style="white-space : pre-wrap;">{{ all_comments }} ←今までの書き込み</a>
<form class="m-5" action="/login_top/update/{{ board.b_id }}" method="POST">

  <input type="hidden" name="username"value="{{ current_user.name }}">
  <input type="hidden" name="title"value="{{ board.b_title }}">


    <div class="mb-3 pd-3">
        <label for="detail">コメント入力欄</label>
        <textarea class="form-control, style="white-space : pre-wrap;", " name="detail"></textarea>
    </div>

    <a class="btn btn-outline-primary" href="/login_top/" role="button">掲示板一覧に戻る</a>
    <button type="submit" class="btn btn-primary">発言する</button>
  </form>

{% endblock %}
